.logo {
    display: none;
}
.search {
    display: none;
}

.page {
    position: relative; /* Parent container */
    min-height: 100vh; /* Ensure the container takes at least the viewport height */
}

.game_page {
    position: relative;
    min-height: 100vh;
}

.finished_page {
    position: relative;
    min-height: 100vh;
}

.games_page {
    position: relative;
    min-height: 160vh;
}

.wave-image {
    position: absolute; /* Absolute positioning to remove the image from the normal flow */
    bottom: 0; /* Position the image at the bottom */
    left: 50%; /* Center the image horizontally */
    transform: translateX(-50%); /* Centering trick to adjust the image to the center */
    width: 100%; /* Adjust the width of the image as needed */
    height: auto; /* Maintain the aspect ratio */
}

.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 20px;
    border-radius: 10px;
}

#response-button {
        /*background-color: #c2fbd7;*/
    background-color: lightblue;
    border-radius: 100px;
    box-shadow: rgba(44, 94, 187, 0.2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;


}
#response-button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

@media (min-width: 600px) {
    .logo {
        display: inline-block;
        margin-right: 10px;
    }
    .search {
        display: inline-block;
    }
}