.info_section {
    background-color: whitesmoke;
    opacity: 0.9;
    border-radius: 40px;
}

.info_text {
    padding: 15px;
}

.info_header {
    font-weight: bold;
    color: #f57d26
}

.second_header {
    color: limegreen;
}
